<div class="container mx-auto px-4 py-16">
  <h1 class="text-5xl mt-4 md:mt-0 mb-6 font-semibold">About</h1>
  <div>
    <p>
      This site started as a demo of an <a
        href="https://astro.build/"
        target="_blank">Astro</a
      > MPA using the <a
        href="https://developer.chrome.com/blog/shared-element-transitions-for-spas/"
        target="_blank">Shared Element Transition API</a
      >. You can read more about its implementation on <a
        href="https://www.maxiferreira.com/blog/astro-page-transitions/"
        target="_blank">the blog post</a
      >.
    </p>
    <p>
      The initial project was developed by <a
        href="https://www.twitter.com/charca"
        target="_blank"
        class="underline hover:text-gray-300">Maxi Ferreira</a
      > and later modified by
      <a
        href="https://jpdiaz.dev"
        target="_blank"
        class="underline hover:text-gray-300">Juan Diaz</a
      >
      to include additional features, pages and more.
    </p>

    <p>
      The website is consuming the <a
        href="https://www.themoviedb.org/documentation/api"
        target="_blank">TMDb API</a
      >

      to display movies and tv shows.
    </p>
    <p>
      The project is open source and you can find the source code on <a
        href="https://github.com/JuanPabloDiaz/juan-favorites"
        target="_blank">GitHub</a
      >.
    </p>
    <p>
      This project is designed for learning purposes. In real-world scenarios,
      developers often do not start projects from scratch but instead work with
      existing codebases. This was the reason Juan Diaz took the initial code
      and modified it, aiming to simulate that experience.
    </p>
    <p>
      If you have any questions or suggestions, feel free to reach out to me on <a
        href="https://twitter.com/1diazdev"
        target="_blank">Twitter</a
      >.
    </p>
    <style>
      a {
        color: rgb(249 115 22 / var(--tw-text-opacity));
        text-decoration: underline;
      }

      p {
        margin-bottom: 16px;
      }
    </style>
  </div>
</div>
