---
import Logo from './Logo.astro';
import SearchBar from './SearchBar.astro';
---

<nav class="nav border-b border-gray-800 sticky top-0 z-30 bg-gray-900">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4 py-6">
    <ul class="flex flex-col md:flex-row items-center">
      <li>
        <a href="/" class="flex items-center font-bold text-xl">
          <Logo />
          <span>Juan's</span>
          &nbsp;
          <span class="text-orange-500">Favorite</span>
        </a>
      </li>
      <li class="md:ml-16 mt-3 md:mt-0">
        <a href="/" class="hover:text-gray-300">Movies</a>
      </li>
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="/tv" class="hover:text-gray-300">TV Shows</a>
      </li>
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="/artists" class="hover:text-gray-300">Artists</a>
      </li>
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="/podcasts" class="hover:text-gray-300">Podcasts</a>
      </li>
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="/games" class="hover:text-gray-300">Games</a>
      </li>
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="/books" class="hover:text-gray-300">Books</a>
      </li>
      <li class="md:ml-6 mt-3 md:mt-0">
        <a href="/about" class="hover:text-gray-300">About</a>
      </li>
      <li>
        <SearchBar />
      </li>
    </ul>
  </div>
</nav>
