---
import Logo from '@components/Logo.astro';
import SearchBar from '@components/SearchBar.astro';

const links = [
  { href: '/', label: 'Movies' },
  { href: '/tv', label: 'TV Shows' },
  { href: '/games', label: 'Games' },
  { href: '/books', label: 'Books' },
  { href: '/artists', label: 'Artists' },
  { href: '/podcasts', label: 'Podcasts' },
  { href: '/about', label: 'About' },
];
---

<nav class="nav sticky top-0 z-30 border-b border-gray-800 bg-gray-900">
  <div class="container mx-auto flex flex-col items-center justify-between px-4 py-6 md:flex-row">
    <ul class="flex flex-col items-center md:flex-row">
      <li>
        <a href="/" class="flex items-center text-xl font-bold">
          <!-- <Logo /> -->
          <span>Juan's</span>
          &nbsp;
          <span class="text-orange-500">Favorite</span>
        </a>
      </li>
      {
        links.map((link) => (
          <li class="mt-3 md:ml-6 md:mt-0">
            <a href={link.href} class="hover:text-gray-300">
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
    <SearchBar />
  </div>
</nav>
