---
import MovieCard from '../../../components/MovieCard.astro';
import myFavMoviesByGenre from '../../../data/myFavMoviesByGenre.json';
import popularMovies from '../../../data/popularMovies.json';
import movieDetails from '../../../data/movieDetails.json';

// Iterating over the myFavMoviesByGenre object
const Genres = Object.keys(myFavMoviesByGenre);

// Note: We're now using pre-fetched movie details from our local JSON
---

<main class="container mx-auto px-4 pt-16 mb-16">

  <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">
    Juan's Favorite Movies
  </h2>
  <section class="">
    {
      Genres.map((Genre) => (
        <article>
          <h2 class="uppercase tracking-wider text-orange-400 text-sm font-semibold pt-3 border-b-4 border-zinc-500 w-2/6">
            {Genre}
          </h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
            {movieDetails[Genre].map((movie) => (
              <MovieCard movie={movie} />
            ))}
          </div>
        </article>
      ))
    }
  </section>

  <!-- <article class="popular-movies">
    <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">
      Juan's Favorite Movies
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
    >
      {myFavMoviesDetails.map((movie) => <MovieCard movie={movie} />)}
    </div>
  </article> --><!-- end pouplar-movies

  <article class="popular-movies">
    <h2 class="uppercase tracking-wider text-orange-500 text-lg font-semibold">
      Popular Movies
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
    >
      {popularMovies.map((movie) => <MovieCard movie={movie} />)}
    </div>
  </article>
</main>
-->
</main>
